.cluster div {
  font-size: 16px !important;
  font-family: "Open sans", sans-serif !important;
  line-height: 36px !important;
}
#map {
  position: relative;
}
.search {
  position: absolute;
  z-index: 9;
  top: 14px;
  left: 32px;
}
.search form {
  position: absolute;
  top: 0;
  height: 100%;
}
.search form label div {
  display: block;
  height: 100%;
}
.search button {
  position: absolute;
  right: 0;
  background: none;
  border: 0;
  color: #03B2A5;
  height: 100%;
  top: 0;
}
.search .searchIcon {
  background-color: #FFF;
  padding: 0.9em;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #888;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.search .searchIcon::before {
  content: '';
  display: inline-block;
  background: url('../images/searchicon.svg') center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.search:hover .searchIcon {
  background-color: #E0E0E0;
}
.search .keywords {
  margin: 0
}