.cluster div {
  font-size: 16px !important;
  font-family: "Open sans", sans-serif !important;
  line-height: 36px !important;
}
#map {
  position: relative;
  height: calc(100vh - 117px);
}
.button {
  cursor: pointer;
  width:50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 4px 9px rgba(0,0,0,0.15);
}
.button-icon{
  width: 32px;
  margin: 9px;
}
.button:hover{
  background-color: #F4F4F4;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 4px 9px rgba(0,0,0,0.35);
}
.button:active{
  background-color: rgba(48,177,226,0.05);
}
.button-selected, .button-selected:hover, .button-selected:active{
  background-color: #03B2A5;
}
.search {
  position: absolute;
  z-index: 9;
  top: 14px;
  left: 32px;
}
.search form {
  position: absolute;
  top: 0;
  background: #FFF;
  border-radius: 20px;
}
.search .keywords {
  margin: 54px 0 0;
  position: fixed;
  list-style: none;
  padding: 0;
  z-index: 5;
  list-style: none;
  max-width: 400px;
}
.search .keywords li {
  background: #FFF;
  padding: 4px 8px;
  border-radius: 10px;
  float: left;
  margin: 6px;
}
.search .keywords li.tag-animal {
  background: #eee;
}
.search .keywords li.tag-place {
  background: #ddd;
}
.searchFormGroup .searchFormInput {
  height: 100%;
  display: block;
  width: calc(100% - 72px);
  margin: 0 36px;
}
.searchFormGroup .searchFormInput input {
  height: 100%;
  border: 0;
  padding: 12px 6px;
  box-sizing: border-box;
  font-size: 21px;
  color: #03b2a5;
  max-width: 100%;
  background: transparent;
  outline: none;
}
.searchFormGroup .searchFormInput input:placeholder {
  color: #03b2a5;
}
.searchFormGroup button {
  position: absolute;
  background: none;
  border: 0;
  color: #03B2A5;
  top: 0;
  font-size: 1.5rem;
  padding: 10px;
  outline: none;
  width: 36px;
}
.searchFormGroup .submit {
  right: 0;
}
.searchFormGroup .close {
  left: 0;
}
.searchFormGroup .menu {
  background: #FFF;
  margin: 0 -36px 0;
  padding: 0 36px 10px;
  z-index: 9;
  position: relative;
}
.searchFormGroup .menu .item {
  padding: 6px;
  border-top: 1px solid;
  margin: 0;
  color: #03B2A5;
  cursor: pointer;
}
.searchFormGroup .menu .item.item-highlighted {
  background: #fafafa;
}
.filter {
  position: absolute;
  z-index: 8;
  top: 14px;
  right: 32px;
}
.help {
  position: absolute;
  z-index: 8;
  bottom: 14px;
  left: 32px;
}
.menu-item {
  background: #FFF;
  border-radius: 100%;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  z-index: -1;
}
.menu-open {
  display: none;
}
.menu-item:hover {
  background: #EEEEEE;
  color: #3290B1;
}
.menu-item:nth-child(2),
.menu-item:nth-child(3),
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}
.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(2) {
  transition-duration: 480ms;
  transform: translate3d(0, 104px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 580ms;
  transform: translate3d(-60px, 64px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 680ms;
  transform: translate3d(-91px, 0, 0);
}
