@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:300,400,600');

html, body {
  margin: 0;
  padding: 0;
  background:url("../images/background-map.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

#main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.wrapper {
  margin: auto;
  flex: 1;
  width: 100%;
  max-width: 1440px;
  margin-top: 101px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 100px;
  box-shadow: 1px 0px .6px .6px #03B2A5;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.block{
  flex: 1 0 30%;
}

p{
  font-family: 'Raleway', sans-serif;
}

.block2 {
  display: none;
}

.block3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========== Logo Styles ============== */

.block1{
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.logo, .name {
  max-height: 50px;
}

.name {
  height: 20px;
  padding-bottom: 14px;
  padding-left: 10px;
}

@media only screen and (min-width: 600px) {
  .name {
    height: 34px;
    padding-bottom: 8px;
  }
}

/* =========== One-liner Styles ============== */

.one-liner {
  display: none;
  text-align: center;
  color: #03B2A5;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16pt;
  margin-top: 29px;
}


/* ================== Nav Styles ================ */

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 12px 4px;
}


/* ============ Button Styles ================= */

button {
  background: transparent;
  border: none;
}
.button {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 4px 9px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.button-icon{
  width: 32px;
}
.button:hover{
  background-color: #F4F4F4;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 4px 9px rgba(0,0,0,0.35);
}
.button:active{
  background-color: #F4FBFD;
}
.button-selected, .button-selected:hover, .button-selected:active{
  background-color: #03B2A5;
}
.button.button-large,
.searchFormGroup button.button-large {
  width: 80px;
  height: 80px;
}
.button.button-large .button-icon,
.searchFormGroup button.button-large .button-icon {
  width: 40px;
}
.button.button-small {
  width: 30px;
  height: 30px;
}
.button.button-small .button-icon {
  width: 18px;
  margin: 6px;
}

/* ================== List Header Styles ================ */

.listHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #03B2A5;
  margin: -1rem;
  padding: 1rem;
}

.listHeader-search, .listHeader-filters {
  width: 50%;
  box-sizing: border-box;
  border: 1px solid red;
}

.listHeader-search {
  border-right: 2px solid #03B2A5;
}

.listHeader-filters nav ul {
  display: flex;
  justify-content: center;
}

.listHeader-filters nav ul li {
  width: 50px;
}


/* ================== Filter Styles ===================== */

.filters {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: .3px .3px .6px .6px #03B2A5;
  background-color: white;
}


/* ================== Footer Styles ===================== */
footer{
  width: 100%;
  height: 30px;
  background-color: #03B2A5;

  display: flex;
  justify-content: center;
}

.footer-text{
  margin-top: 5px;
}

footer a{
  text-decoration: none;
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-weight: 300;
}

footer a:hover{
  text-decoration: underline;
}

footer span{
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-weight: 300;
  font-size: 12pt;
  padding:0 0.5rem;
}


/* ============ List View Styles ============*/

.list-wrapper{
  max-width: 900px;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  padding: 1rem;
}

.card-list{
  list-style-type: none;
  padding-left: 0;
  max-width: 780px;
  margin: auto;
}

.animal-name{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}


.list-wrapper a{
  font-family: "raleway", sans-serif;
  text-decoration: none;
  margin: 1rem 0;
  color: #03B2A5;
}

.list-wrapper a:hover{
  text-decoration: underline;
}

.list-wrapper li{
  border-top: 2px solid #03B2A5;
  padding: 1rem 0;
  display: grid;
}

.list-wrapper li:first-of-type{
  border-top: none;
}

.list-wrapper .photo img{
  width: 200px;
  margin: auto .4rem;
  max-width: 100%;
}

@media only screen and (min-width: 800px) {

  .list-wrapper li{
    grid-template-columns: 150px 1fr 1fr;
  }

  .list-wrapper li p{
    margin: 0;
    padding: 0 1rem 0.7rem;
  }

  .list-wrapper li .photo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: span 4;
    padding-bottom:0;
    padding-left: 0;

  }

  .list-wrapper li .location{
    grid-row-start: 2;

    grid-column-start: 2;
    grid-column-end: 3;
  }

  .list-wrapper li .wiki-link{
    padding: 0 0 0 1rem;

    grid-row-start: 4;

    grid-column-start: 3;
    grid-column-end: 4;

    text-align: right;
    margin-bottom: 0;

    font-style: italic;
    font-size: 10pt;
  }

}


/* ============ Terms and About Styles ============*/

.page-wrapper{
  max-width: 900px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  padding: 1rem;
  flex: 1;
}

.page-wrapper h2, .page-wrapper h3{
  color: #03B2A5;
  font-family: 'Open Sans', sans-serif;
}

.page-wrapper p{
  line-height: 24px;
}

.about-wrapper h3 {
  margin-top: 2rem;
}

.video {
  display: flex;
  justify-content: center;
}

.video iframe {
  width: 250px;
  height: 125px;
}

.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.team-member {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: .5rem;
}

.team-member a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.team-member img {
  width: 140px;
  margin-bottom: 0.4rem;
}

.team-member h4, .team-member p {
  margin: 0.1rem;
  text-align: center;
}

.team-member p {
  font-size: .9rem;
}

/* ============ Chart View Styles ============*/

.chart-wrapper {
  display: flex;
  flex-flow: column wrap;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

.chart-search {
  align-self: center;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #696969;
  margin-top: 1rem;
  padding: 1rem 1rem 0 1rem;
}

.chart-components {
  width: 100vw;
}

.charts div {
  margin: 1rem;
  box-shadow: .3px .3px .6px .6px #03B2A5;
  border-radius: 20px;
  padding: .8rem;
  background: white;
  display: flex;
  justify-content: center;
}

.spinner {
  align-self: center;
}

.chart-navigation {
  margin: 0 1rem;
  border-radius: 20px;
  box-shadow: .3px .3px .6px .6px #03B2A5;
  display: flex;
  justify-content: center;
  background: white;
}

.chart-navigation button {
  border-radius: 50px;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0 1rem;
  color: #03B2A5;
  background: none;
  border: none;
  outline: none;
}

.chart-navigation button:hover {
  color: #0575e6;
}

.top {
  width: auto;
  max-height: 600px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 1rem;
  padding: 0;
  padding-bottom: .4rem;
  box-shadow: .3px .3px .6px .6px #03B2A5;
  border-radius: 20px;
  background: white;
}

.top-info {
  margin-top: .4rem;
  border-top: 2px solid #03B2A5;
}

.top-title {
  font-family: 'Open sans', sans-serif;
  font-size: 1.8rem;
  color: #03B2A5;
}

.top-img {
  width: 180px;
  box-shadow: 1px 1px 1px .2px rgba(0,0,0,.5);
  align-self: center;
  margin: 1% 1% .5rem 1%;
}

.top-name {
  font-size: 1.6rem;
  background: white;
  color: #696969;
  width: 80%;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  margin: .2rem auto;
  padding: .1rem 0;
  border-radius: 0;
}

.top-name:first-of-type{
  margin-top: .4rem;
}

.top-label {
  font-family: "Raleway",sans-serif;
  font-size: 1rem;
  margin: auto .2rem;
}

.top-link {
  font-family: "Raleway",sans-serif;
  text-align: center;
  font-size: .8rem;
  margin-bottom: 1.5rem;
}

.top-link a {
  color: #03B2A5;
  text-decoration: none;
}

.top-link a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 800px) {

  .block2 {
    display: block;
    flex: 2 0 40%;
  }

  .one-liner {
    display: block;
  }

  .chart-components {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .chart-navigation {
    margin: .2rem 2rem;
  }

  .top {
    grid-column: 1/2;
    margin-top: 1rem;
    margin-left: 2rem;
    max-height: 600px;
    height: fit-content;
    width: 260px;
    max-height: 600px;
  }

  .charts {
    grid-column: 2/4;
    margin-right: 1rem;
  }

  nav ul li {
    margin: 12px;
  }

  .video iframe {
    width: 630px;
    height: 315px;
  }
}

/* ============ List View Styles ============*/

.cluster div {
  font-size: 16px !important;
  font-family: "Open sans", sans-serif !important;
  line-height: 36px !important;
}
#map {
  position: relative;
  height: calc(100vh - 131px);
  margin-top: 101px;
  flex: 1;
}
.map-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 50px 100px 20px;
  box-sizing: border-box;
}
.map-wrapper .wrapper {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  max-width: 1240px;
  margin: 0;
}
.search {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}
.search .searchFormGroup {
  position: absolute;
  top: 0;
  background: #FFF;
  border-radius: 40px;
  width: 80px;
  overflow: hidden;
  transition: width ease 680ms;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 4px 9px rgba(0,0,0,0.15);
}
.search .searchIcon {
  /* transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33); */
  /* transition-duration: 680ms; */
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.search.open .searchIcon {
  width: 0;
  height: 0;
  margin-top: 20px;
  display: none;
}
.search.open .searchFormGroup {
  width: 332px;
  border-radius: 40px;
  z-index: 10;
}
.search .keywords {
  margin: 6px 0 0;
  position: fixed;
  list-style: none;
  padding: 0;
  z-index: 5;
  list-style: none;
  max-width: 400px;
}
.search.open .keywords {
  margin-top: 36px;
}
.search .keywords li {
  background: #FFF;
  padding: 4px 8px;
  border-radius: 10px;
  float: left;
  margin: 6px;
}
.search .keywords li.tag-animal {
  background: #eee;
}
.search .keywords li.tag-place {
  background: #ddd;
}
.searchFormGroup .searchFormInput {
  height: 100%;
  display: block;
  width: calc(100% - 110px);
  margin: 0 75px;
}
.searchFormGroup .searchFormInput input {
  height: 100%;
  border: 0;
  padding: 25px 6px;
  box-sizing: border-box;
  font-size: 24px;
  color: #03b2a5;
  max-width: 100%;
  background: transparent;
  outline: none;
  font-family: "raleway", sans-serif;
}
.searchFormGroup .searchFormInput input::placeholder {
  color: #03b2a5;
  font-style: italic;
}
.searchFormGroup button {
  position: absolute;
  background: none;
  border: 0;
  color: #03B2A5;
  top: 0;
  font-size: 1.5rem;
  padding: 0;
  outline: none;
  width: 55px;
}
.searchFormGroup .submit {
  right: 0;
}
.searchFormGroup .close {
  left: 0;
}
.searchFormGroup .menu {
  background: #FFF;
  margin: 0 -36px 0;
  padding: 0 36px 10px;
  z-index: 9;
  position: relative;
}
.searchFormGroup .menu .item {
  padding: 6px;
  border-top: 1px solid;
  margin: 0;
  color: #03B2A5;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "raleway", sans-serif;
  font-style: italic;
}
.searchFormGroup .menu .item .button-icon {
  width: 24px;
  margin: 0 6px 0 0;
}
.searchFormGroup .menu .item.item-highlighted {
  background: #fafafa;
}
.filter {
  position: absolute;
  z-index: 8;
  top: 0;
  right: 0;
}

.filter-item {
  background: #FFF;
  border-radius: 100%;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  z-index: -1;
}
.filter-open {
  display: none;
}
.filter-item:hover {
  background: #EEEEEE;
  color: #3290B1;
}
.filter-item:nth-child(2),
.filter-item:nth-child(3),
.filter-item:nth-child(4),
.filter-item:nth-child(5) {
  transition-duration: 180ms;
}
.filter-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}
.filter-open:checked ~ .filter-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.filter-open:checked ~ .filter-item:nth-child(2) {
  z-index: 1;
}
.filter-open:checked ~ .filter-item:nth-child(3) {
  transition-duration: 480ms;
  transform: translate3d(0, 124px, 0);
}
.filter-open:checked ~ .filter-item:nth-child(4) {
  transition-duration: 580ms;
  transform: translate3d(-85px, 76px, 0);
}
.filter-open:checked ~ .filter-item:nth-child(5) {
  transition-duration: 680ms;
  transform: translate3d(-121px, 0, 0);
}
.mapCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.7rem 2rem;
  margin-top: 10px;
}
.mapCard__photos {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-row: span 6;
  position: relative;
}
.mapCard .animal-name {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
.mapCard p {
  margin: 0;
}
.mapCard .wiki-link {
  font-family: "raleway", sans-serif;
  text-decoration: none;
  margin: 1rem 0 0;
  color: #03B2A5;
  text-align: right;
}
.mapCard__photos li img {
  width: 200px;
  margin: auto;
  max-width: 100%;
  display: block;
}
@media only screen and (min-width: 800px) {
  .mapCard {
    margin-top: 0;
    grid-template-columns: 150px 1fr;
  }
}

/* ============ Filter Styles ============*/

.filter-dialog {
  width: 260px;
  height: 130px;
  border-radius: 22px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 4px 9px rgba(0,0,0,0.35);
  background-color: white;
}

.filter-title{
  color: #03B2A5;
  text-align: center;
  font-size: 16pt;
  padding: 0.5rem 0 .5rem;
  margin: 0 1rem;

  border-bottom: solid 1px #03B2A5;
}



/* ============ Captivity Filter ============*/

.captive-filter{
  display: none;
}

.captive-filter .filter-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.captivity-option{
  background-color: white;
  color: #03b2a5;
  border: 1px solid #03b2a5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 1rem;
}

.captivity-option-selected{
  background-color: #03b2a5;
  color: white;
}

.captivity-option p{
  text-align: center;
}

/* ============ Distance Filter ============*/

.distance-filter{
  height: 180px;

  display: none;
}

.distance-filter .filter-content{
  padding: 1rem;
}

.rangeslider-horizontal{

}

/* ============ Date Filter ============*/
.date-filter{
  display: none;
}

.date-filter .filter-content{
  padding: 1rem;

}

.date-filter-input-blocks{
  display: flex;
  justify-content: space-between;
}

.react-datepicker-wrapper{
  text-align: center;
}

.react-datepicker__input-container input{
  width: 65%;
  border: 1px solid #03b2a5;
  color:#03b2a5;
  padding: 1rem;
  border-radius: 22px;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
}

.date-filter .react-datepicker__day--selected, .date-filter .react-datepicker__day--in-selecting-range, .date-filter .react-datepicker__day--in-range{
  background-color: #03b2a5;
}

.date-filter .react-datepicker__day--in-range:hover{
  background-color: #03b2a5;
}

.date-filter .react-datepicker__day--in-selecting-range:not( .react-datepicker__day--in-range){
  background-color: rgba(3,178,165,0.5);
}

/* ============ Help Box Styles ============*/

.help {
  position: absolute;
  z-index: 8;
  bottom: 0;
  left: 0;
}

.help-box{
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 4px 9px rgba(0,0,0,0.35);
  border-radius: 22px;
  padding: 2rem;
}

.help-box h2{
  text-align: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color:#03b2a5;
}

.help-box .row{
  display: flex;
}


.help-box ul{
  list-style-type: none;
  padding-left: 0;
}

.help-box ul li{
  display: flex;
}

.help-box .help-filter-image{
  margin: 1rem;
}

.help-box p{
  color:#03b2a5;
}
